.selector {
    flex-grow: 1;
    height: 100%;
    border: none;
}

.category-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 50%;
    height: 25px;
  }
  