.categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Changed from row-reverse to row */
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    gap: 4px;
    margin-top: 1rem;
    
}
.categories-container::-webkit-scrollbar { /* Chrome, Safari, Edge */
    display: none;
}

.category {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 12px;
}

.category:hover {
    cursor: pointer;
}

.category-selected {
    background-color: #333;
    margin-left: 1px;
    border: 1px solid #007bff;
    margin: 1px;
    font-size: large;
}

