.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    font-size: xx-small;
    box-shadow: black 0px 0px 10px;
    text-shadow: #333 0px 0px 10px;
  }

 .footer {
  display: none;
 }

 @media (min-width: 700px)
 {
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
 }