.joke-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    height: 50%;
    /* background-color: white; */
    margin-top: 2rem;
    padding: 2rem; 
    font-size: x-large;
    text-align: center;
}