body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #333; /* Dark gray */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  height: 50px;
  width: 100%;
  margin-bottom: 2rem;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 50px;
  width: 100%;
  margin-top: 2rem;
  background-color: #c3c3c3;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  min-height: 500px;
  max-width: 70vw;
  background-color: #333; /* Light gray */
  border-radius: 12px;
}

.title {
  color: #007bff; /* Dark gray */
  text-shadow: 2px 2px #333; /* Red shadow */
  font-size: 2.5em;
}


.button {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #0069d9; /* Darker blue */
  color: white;
}

@media (max-width: 768px) {
  .main-container {
    max-width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }

  .title {
    font-size: 2em;
  }
}